@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}


body {
  background-image: url(https://www.gardensbythebay.com.sg/content/dam/gbb-2021/image/learn-with-us/explore-resources/wallpapers/custom/GBB-wallpaper-overview-night-02-1920x1080.jpg);
  height: 100%;
  background-position-x: center;
  background-position-y: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  margin: 0;
}

.directions {
    margin-left: 14px;
    margin-top: 14px;
    font-size: 18px;
    color: white
}